.clients {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  color: white;
}

.clients__bg__decoration {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 150px 0 0 0;
  background-color: #5a98d0;
  width: 100%;
  height: 1570px;
}
.clients__container {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  margin-bottom: 125px;
}

.clients__header__container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.clients__header__container h2 {
  font-size: 36px;
  width: 100%;
  max-width: 230px;
  margin: 0;
}

.clients__header__container p {
  width: 100%;
  max-width: 540px;
}

.clients__list {
  width: 100%;
  max-width: 960px;
  list-style: none;
  margin: 0;
  margin-top: 123px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 235px);
  grid-template-rows: repeat(2, 128px);
  gap: 1px;
  background-color: white;
}

.clients__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 128px;
  background-color: #5a98d0;
  cursor: pointer;
  border: none;
}

.clients__list li:hover {
  background-color: #1f3f68;
}

.clients__list li h4 {
  color: white;
  font-weight: 300;
}

@media (max-width: 1040px) {
  .clients {
    height: 900px;
  }
  .clients__header__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .clients__header__container h2 {
    text-align: center;
    max-width: 350px;
  }
  .clients__header__container p {
    text-align: center;
  }
  .clients__container {
    margin-top: 0;
    justify-content: start;
    align-items: center;
  }
  .clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 473px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}

@media (max-width: 520px) {
  .clients {
    height: 1500px;
  }
  .clients__list {
    max-width: 360px;
    background: none;
  }
  .clients__list li {
    border-bottom: 1px solid white;
  }

  .clients__header__container h2 {
    font-size: 28px;
  }
  .clients__header__container p {
    max-width: 360px;
  }
  .clients__container{
    margin-bottom: 0;

  }
}
