.header {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #98c3e8 2%, rgba(152, 195, 232, 0) 20%);
  margin: 0 auto;
  overflow: hidden;
  margin-top: 100px;
}
.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 212px;
}
.header__container__greeting {
  width: 100%;
  margin-top: 120px;
}
.header__container__greeting h1 {
  font-family: "Galien";
  font-size: 54px;
  font-weight: 600;
  color: #1f3f68;
  letter-spacing: 5%;
  margin: 0;
  width: 100%;
  max-width: 600px;
}
.header__container__greeting p {
  font-size: 16px;
  width: 100%;
  max-width: 425px;
  margin-bottom: 4.75rem;
  color: #1f3f68;
  letter-spacing: 5%;
  line-height: 26px;
}

.header__container__greeting__image {
  position: absolute;
  top: 10px;
  right: 30px;
}

@media (max-width: 1312px) {
  .header__container__greeting p {
    max-width: 200px;
  }
  .header__container__greeting {
    margin-top: 20px;
  }
}

@media (max-width: 1130px) {
  .header__container {
    margin-left: 112px;
  }
  .header__container__greeting__image {
    top: 20px;
  }
}

@media (max-width: 950px) {
  .header {
    justify-content: start;
  }
  .header__container__greeting__image {
    top: 140px;
  }
}

@media (max-width: 700px) {
  .header__container__greeting__image {
    top: 280px;
  }
}

@media (max-width: 700px) {
  .header__container {
    margin-left: 50px;
  }
  .header__container__greeting__image {
    top: 170px;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__container__greeting__image {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: inherit;
  }

  .header__container__greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__container__greeting p {
    text-align: center;
    max-width: 400px;
    margin-bottom: 20px;
  }
  .header__container__greeting h1 {
    text-align: center;
    font-size: 36px;
  }
  .header__container__greeting {
    margin-top: 20px;
  }
}

@media (max-width: 370px) {
  .header {
    justify-content: start;
  }
}
